<!doctype html>
<html>
  <head>
    <title>Refunds Data Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-outer">
        <div class="container-inner">
          <div class="upload-form">
            {% if table %}
              <h1>Check uploaded file</h1>
              {{ table | safe}}
              <form method="POST" action="/sent" >
                <p><input type="submit" name ="submit_button" value="Submit" class="button button-submit"></p>
                <a href="/" class="button button-cancel">Cancel</a>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </body>
</html>
