<!doctype html>
<html>
  <head>
    <title>Refunds Data Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-outer">
        <div class="container-inner">
          <div class="upload-form">
            <h1>Your file has been successfully uploaded!</h1>
            <a href="/" class="button button-submit">Home</a>
          </div>
        </div>
      </div>
    </body>
</html>