body{
    font-family: 'Roboto', sans-serif;
}

.form-buttons{
    display:flex;
    flex-direction: row;
}

.form-buttons > * {
    padding:10px 20px 10px 20px;  
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
  }
.button-cancel {
    background-color: red; 
}
.button-submit {
    background-color: #4CAF50;
}
.button-choose-file {
    background-color: grey;
}

.container-outer{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top:100px;
}
.container-inner{
    width:50%;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.text-area{
    width:50%;
    display:flex;
    flex-direction: column;
    text-align: left;
}

.upload-form{
    border: solid 1px lightgrey;
    border-radius: 20px;
    padding:10px 20px 10px 20px;
}


table{
    width:100%;
    text-align: left;
}
th{
    text-align: left;
    font-size: 1.5rem;
}